
// About box start
.offer{
    text-align: center;
    height: auto;
    background-color: $primary-color;
    padding-top: 100px;
    font-family: $font-sec;
    
    

    h1{
        font-size: 45px;
        line-height: 53px;
        font-weight: 400;
    }
    p{
        font-size: 16px;
    }
    

}
// About box end
