@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
background-color: #fff;}
// Variables
$primary-color:#fff;
$tertiary-color:#000;
$SoMe:#fff;

// text
$font-main: 'Lexend Deca', sans-serif;
$font-sec: 'Mukta', sans-serif;